@import url(https://fonts.googleapis.com/css?family=Open+Sans);  
@import url(https://fonts.googleapis.com/css?family=Bree+Serif);  
body {  
 background: #979ed9;  
 font-size: 22px;  
 line-height: 32px;  
 color: white;
 word-wrap: break-word !important;  
 font-family: "Open Sans", sans-serif;  
}  




